body {
    background-color: SteelBlue;
    background-image: url(seamless_pattern_color_02.jpg);
    font-size: 12pt;
    font-family: sans-serif, arial;
}

/* Header definitions */
h1 {
    font-size: 16pt;
    font-family: sans-serif, arial;
    color: #545960;
    text-align: center;
    border-bottom: 1px solid #545960;
}

h2 {
    font-size: 14pt;
    color: #7789a3;
}

/* Link definitions */
a {
    color: #545960;
    text-decoration: underline;
}

a:hover {
    color: #ABC1D0;
    text-decoration: none;
}

/* Text decoration elements */
strong, em {
    color: #ABC1D0;
}

img {
    padding: 10px;
}

dt {
    font-style: italic;
    color: #545960;
}

table {
    border-color: steelblue;
    border-width: thin;
    border-style: solid;
}

td {
    padding: 5px;
}

footer {
    text-align: center;
}

/* Div definitions */
.maincontent {
    position: relative;
    padding: 15px;
    margin: auto;
    background-color: white;
    width: 60%;
    text-align: justify;
}
