body {
    background-color: SteelBlue;
    background-image: url(seamless_pattern_color_02.jpg);
    font-size: 12pt;
    font-family: sans-serif, arial;
}

/* Header definitions */
h1 {
    font-size: 16pt;
    font-family: sans-serif, arial;
    text-align: center;
}

h2 {
    font-size: 14pt;
}

/* Text decoration elements */
strong, em {
    color: #ABC1D0;
}


table {
    border-color: steelblue;
    border-width: thin;
    border-style: solid;
}

td {
    padding: 2px;
}

/* Div definitions */
.maincontent {
    position: relative;
    padding: 5px;
    margin: auto;
    background-color: white;
    width: 60%;
    text-align: justify;
}
