body {
    background-color: #EEEEEE;
    /*background: url('https://upload.wikimedia.org/wikipedia/commons/f/fa/Kettering_CSMott.JPG');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 12pt;
}

div {
    background-color: #FFFFFF;

}

#forumsection {
    font-size: 12pt;
    padding: 1%;
    width: 75%;
    margin: auto;
}

#loginForm {
    float: center;
    margin: 0 auto;
    width: 250px;
}

#maincontent {
    background-color: #FFFFFF
    padding: 20px 20px 20px 20px;
    width: 90%;
    margin: auto;
}


#searchForum {
    float: right;
}

/* userInfoHeader to display username, login/out option, time, breadcrumb navi, etc*/
#userInfoHeader {
    background-color: #EEEEEE;
    padding: 1%;
    margin: auto;
    width: 74%;
}



 /* Table Elements */
table {
    width: 100%
}

thead{
    font-weight: bold;
}

td {
    background-color: #EEEEEE;
}


footer {
    background-color: #EEEEEE;
    padding: 1%;
    margin: auto;
    width: 74%;
}

form {
     display: inline;
 }

/* Link Elements */
a {
    text-decoration: underline;
    color: #003A7E;
}

a:hover {
    color: #FFCE00;
}

h1 {
    text-align: center;
    font-size: 20pt;
}

h2 {
    background-color: #003A7E;
    color: #FFCE00;
    padding: 1px;
}
