body {
    background-color: SteelBlue;
    font-size: 12pt;
    font-family: sans-serif, arial;
}

/* Header definitions */
h1 {
    font-size: 16pt;
    font-family: sans-serif, arial;
    color: #545960;
    text-align: center;
    border-bottom: 1px solid #545960;
}

h2 {
    font-size: 14pt;
    color: #7789a3;
}

/* Link definitions */
a {
    color: #545960;
    text-decoration: underline;
}

a:hover {
    color: #ABC1D0;
    text-decoration: none;
}

/* Text decoration elements */
strong, em {
    color: #ABC1D0;
}

img {
    padding: 10px;
}


footer {
    text-align: center;
}

form {
    display: block;
}

/* Div definitions */
/* The div is an ID because maincontent will only occur once */

#maincontent {
    position: relative;
    padding: 15px;
    margin: auto;
    background-color: white;
    width: 60%;
    text-align: justify;
}


@media screen and (min-width: 1025px) {
    #maincontent {
        width: 60%;
        position: relative;
        padding: 15px;
        margin: auto;
        background-color: white;
        text-align: justify;
    }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
    #maincontent {
        width: 80%;
        font-size: 16pt;
        position: relative;
        padding: 15px;
        margin: auto;
        background-color: white;
        text-align: justify;
    }
}

@media screen
    and (max-width : 600px) {
    iframe {
        width: 75%;
    }
    img {
        width: 30%;
        height: 30%;
    }
    #maincontent {
        width: 100%;
        font-size: 16pt;
        position: relative;
        padding: 15px;
        margin: auto;
        background-color: white;
        text-align: justify;
    }
}
